<ion-header>
      <ion-navbar color="tertiary">
            <ion-title>INFORMATIONS</ion-title>
      </ion-navbar>
</ion-header>

<ion-content padding>

      <ion-list>
            <ion-card>
                  <ion-item>
                        <h3>Tache ID: </h3>
                        <p>{{ this.items.tache_id }}</p><br />
                        <h3>CIN Administrateur: </h3>
                        <p>{{ this.items.cin_admin }}</p><br />
                        <h3>Etat: </h3>
                        <p>{{ this.items.etat_tache }}</p><br />
                        <h3>Sujet:</h3>
                        <p>{{ this.items.sujet_tache }}</p><br />
                        <h3>Adresse:</h3>
                        <p>{{ this.items.adresse }}</p><br />

                  </ion-item>
                
                  <ion-card-content>
                        <h2 style="text-align:center" *ngIf="this.items.justification !=null"> PHOTO FIN DE TRAVAUX </h2>
                        <p style="text-align:center" *ngIf="this.items.justification !=null"><img src="{{server+this.items.justification}}"></p><br /><br />
                  </ion-card-content>

                  <ion-row>
                        <ion-col align-self-center text-center>
                              <ion-note>
                                    {{ this.items.datetimes }}
                              </ion-note>
                        </ion-col>
                  </ion-row>

            </ion-card>
      </ion-list>
</ion-content>