<ng4-loading-spinner> </ng4-loading-spinner>

<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="home">E-Réclamation Municipale</a>
    </div>

    <ul class="nav navbar-nav">

      <li routerLinkActive="active"><a routerLink="home"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Accueil</a></li>
      <li routerLinkActive="active"><a routerLink="connection">Se Connecter&nbsp;<span class="glyphicon glyphicon-user"></span> </a></li>
      <li routerLinkActive="active"><a routerLink="inscription-admin">Inscription Admin&nbsp;<span class="glyphicon glyphicon-user"></span></a></li>

    </ul>
  </div>
</nav>


<!-- content -->

<div class="container">

      <router-outlet></router-outlet>

</div>
<!-- footer -->


<style>
  .navbar {
top:0;
right:0;
width: 100%;
  }

  .p{
    top:0;
right:0;
width: 100%;
  }

</style>
