$topnav-background-color: #222;

.row{
   text-align: center;
   height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position:inline;
}


/* You can add global styles to this file, and also import other style files */
