
<div class="container">
      <div class="row">
            <div class="col-md-6">


  <!-- content -->
  <div style="text-align:center">
        <h2 style="color:white"><b> Nous Simplifions La Vie Pour Vous</b></h2>
<br />
    <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="assets/Web.jpg" style=" border-radius: 8px;"></ng-template>
  </owl-carousel-o>
  <br />
  <h4 style="color:white"> La Vie Est Plus Simple </h4>
 <h4 style="color:white">Application Portable</h4>
</div>
            </div>
      </div>
</div>



<footer class="container-fluid bg-4 ">
      <p>&copy; E-réclamation Copyright 2019 </p>
</footer>

<style>
      .bg-4 {
            background-color: #2f2f2f;
            color: #ffffff;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 10px 10px;
            text-align: center;
      }
</style>
