<app-espace-admin></app-espace-admin>
<div class="container">
  <div style="text-align:center" class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Bonjour {{ this.cinadmin }} ,<br /></strong> <a class="alert-link"> Vous avez {{ this.length }}</a>
    Taches !.
  </div>

  <ul class="list-group">
   
    <li class="list-group-item">
      <mat-table [dataSource]="dataSource">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <table datatable class="row-border hover">

        <thead>
          <tr>
            <th>Tache-ID</th>
            <th>Récl_ID</th>
            <th>Type</th>
            <th>Etat</th>
            <th>Sujet</th>
            <th>Adresse</th>
            <th>Date-Heure</th>
            <th>Citoyen-ID</th>
            <th>Agent-ID</th>
            <th>Justification</th>
            <th>Photo_Tache</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let item of items">
            <td>{{ item.tache_id }}</td>
            <td>{{ item.rec_id }}</td>
            <td>{{ item.type_rec }}</td>
            <td>{{ item.etat_tache }}</td>
            <td>{{ item.sujet_tache }}</td>
            <td>{{ item.adresse }}</td>
            <td>{{ item.datetimes }}</td>
            <td>{{ item.cin_cit }}</td>
            <td>{{ item.cin_agent }}</td>
            <td><button type="button" class="btn btn-labeled btn-primary" data-toggle="modal" data-target="#Modal"
                (click)="showjustification(item.rec_id)">
                <span class="btn-label"><i class="glyphicon glyphicon-eye-open"></i></span>Voir</button></td>
            
                <td><button type="button" class="btn btn-labeled btn-primary" data-toggle="modal" data-target="#Modal"
                (click)="showjustificationTache(item.tache_id)">
                <span class="btn-label"><i class="glyphicon glyphicon-eye-open"></i></span>Voir</button></td>
          </tr>
          </tbody>
      </table>
    </li>
  </ul>
</div>