<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Matricule_Agents</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Poste</th>
      <th scope="col">Tel</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
  </tbody>
</table>
<button type="button" name="modifier" class="primary">Modifier</button>
<button type="button" name="Enregistrer" class="success">Enregistrer</button>
  </div>
