<ion-header>

  <ion-navbar color="tertiary" >
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Paramètres</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <p align="center">
      Modifier Le Mot de Passe
    </p>
      <ion-row justify-content-center align-items-center style="height: 100%">
    <form #f="ngForm"  (ngSubmit)="onSubmit(f)" [formGroup]="Form" text-center center>

      <ion-item>
        <ion-label stacked>Mot de passe  :</ion-label>
        <ion-input name="password" type="password" formControlName="password" placeholder="Mot de passe" clearInput ngModel required></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( Form.get('password').hasError('required') ) && Form.get('password').touched">

        <div class="error" *ngIf="Form.get('password').hasError('required') && Form.get('password').touched">
          Champ Obligatoire
        </div>
      </ion-item>

      <ion-item class="error" *ngIf="!Form.controls.password.valid  && (Form.controls.password.dirty)">

        <div class="error">
          Non Valide !
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Retaper le Mot de passe  : </ion-label>
        <ion-input name="password-repeat" type="password" formControlName="password_repeat"  placeholder="Retaper le Mot de passe" clearInput  ngModel required></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( Form.get('password_repeat').hasError('equalTo') || Form.get('password_repeat').hasError('required') ) && Form.get('password_repeat').touched">

        <div class="error" *ngIf="Form.get('password_repeat').hasError('required') && Form.get('password_repeat').touched">
          Champ Obligatoire
        </div>
        <div class="error" *ngIf="Form.get('password_repeat').hasError('equalTo') && Form.get('password_repeat').touched">
          Mots de Passes incompatibles
        </div>
      </ion-item>

      <ion-item class="error" *ngIf="!Form.controls.password_repeat.valid  && (Form.controls.password_repeat.dirty)">

        <div class="error">
          Non Valide !
        </div>
      </ion-item>

      <ion-col text-center>
        <button ion-button block type="submit" color="success" [disabled]="!Form.valid">
          Enregistrer
        </button>
      </ion-col>
    </form>
  </ion-row>
</ion-content>

<style type="text/css">
  .error
  {
    color:red;
  }
</style>
